<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- <settings>
         <setting name="cacheEnabled" value="true"/>
     </settings>-->


    <typeAliases>
        <typeAlias type="com.baiyi.mybatis.entity.User" alias="User"/>
        <typeAlias type="com.baiyi.mybatis.entity.Account" alias="Account"/>
    </typeAliases>


    <!--拦截器的使用-->
    <plugins>
       <!-- <plugin interceptor="com.baiyi.mybatis.plugins.MyMybatisInterceptor">
            <property name="username" value="baiyi"/>
        </plugin>-->
        <!--<plugin interceptor="com.baiyi.mybatis.plugins.MyMybatisInterceptor2"/>-->
        <plugin interceptor="com.baiyi.mybatis.plugins.PageHelperInterceptor">
            <property name="pageHelperPrefix" value="query"/>
            <property name="pageHelperSuffix" value="Page"/>
        </plugin>
    </plugins>

    <environments default="default">
        <environment id="default">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"></property>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis"></property>
                <property name="username" value="root"></property>
                <property name="password" value="123456"></property>
            </dataSource>
        </environment>
        <!--    <environment id="oracle">
                <transactionManager type="JDBC"></transactionManager>
                <dataSource type="POOLED">
                    <property name="driver" value="oracle.jdbc.OracleDriver"></property>
                    <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"></property>
                    <property name="username" value="hr"/>
                    <property name="password" value="hr"/>
                </dataSource>
            </environment>-->
    </environments>

    <mappers>
        <!--<package name=""-->
        <mapper resource="UserDAOMapper.xml"/>
        <mapper resource="AccountDAOMapper.xml"/>
    </mappers>


</configuration>
